/*#########*/
/*# RESET #*/
/*#########*/

html {
  box-sizing: border-box;
  font-size: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/*##########*/
/*# BASICS #*/
/*##########*/

#wrapper {
	position: absolute;
	left: 100px;
	right: 0;
	top: 100px;
	bottom: 0;
	overflow: hidden;
	margin: 0;
}

#surface {
	height: 100%;
	width: 100%;
}