/*#########*/
/*# RESET #*/
/*#########*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#frame-type {
  font-size: 26px;
}
